Flask==3.0.0
Flask-Cors==4.0.0
boto3==1.34.38
gunicorn==20.1.0
langchain==0.1.4
openai==1.11.1
faiss-cpu==1.7.4
tiktoken==0.5.2
qdrant-client==1.8.0
requests==2.31.0
azure-cognitiveservices-speech==1.30.0
langchain_openai==0.0.5
gevent==24.2.1
pandas==2.0.2
httpx==0.24.1
httpcore==0.17.2
aiohttp==3.8.4
urllib3==1.26.16
eventlet==0.35.2
Flask-SocketIO==5.3.6
gevent-websocket==0.10.1
python-docx==0.8.11